<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SW api - Si week 5</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" defer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" defer>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='main.css')}}" defer>
    <script src="{{url_for('static', filename='main.js')}}" defer></script>


</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">Planet list</a></li>
                <li><a href="#">Voting statistics</a></li>
                <li><a href="/register">Registration</a></li>
                <li><a href="/login">Login</a></li>
                <li><a id="#logout" href="/">Logout</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h1>Star Wars universe planets</h1>
        <div class="row">
            <button type="button" class="btn btn-primary" id="prev_btn" value="/">Previous</button>
            <button type="button" class="btn btn-primary" id="next_btn" value="{{next_href}}">Next</button>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered" id="planets">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Diameter</th>
                            <th>Climate</th>
                            <th>Terrain</th>
                            <th>Surface Water Percentage</th>
                            <th>Population</th>
                            <th>Residents</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- Modal -->
        <div id="residentModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Residents of planetname</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="residents">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Height</th>
                                        <th>Mass</th>
                                        <th>Hair-color</th>
                                        <th>Skin-color</th>
                                        <th>Eye-color</th>
                                        <th>Birth year</th>
                                        <th>Gender</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>